:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-font-color: #212121;
  --secondary-font-color: #757575;
  --extra-font-color: #ffffff;
  --primary-bgc: #ffffff;
  --hero-bgc: #2f303a;
  --footer-bgc: #2f303a;
  --extra-bgc: #f5f4fa;
  --accent-color: #2196f3;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

body {
  background-color: var(--primary-bgc);
  font-family: var(--primary-font);
  color: var(--primary-font-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__part_light {
  color: var(--primary-font-color);
}

.logo__part_dark {
  color: var(--extra-font-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__logo {
  margin-right: 93px;
}

.nav-list {
  display: flex;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-font-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__link_current {
  position: relative;
  color: var(--accent-color);
}

.nav-list__link_current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--accent-color);
}

.contacts-list__icon-mail {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-list__icon-tel {
  fill: currentColor;
  margin-right: 10px;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
}

.modal-button {
  min-width: 200px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--extra-font-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
  background-color: #188ce8;
}

.social-links-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-bgc);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-list__link:hover, .social-links-list__link:focus {
  background-color: var(--accent-color);
}

.social-links-list__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-list__link:hover .social-links-list__icon,
.social-links-list__link:focus .social-links-list__icon {
  fill: var(--primary-bgc);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px 6px 5px 5px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__call {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
}

.is-hidden {
  transform: scale(2);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-font-color);
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__check-desc {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

.modal-form__check-desc::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-image: url(../images/checkbox.svg);
  background-color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.modal-form__term-agreement:checked + .modal-form__check-desc::before {
  background: #2196f3;
  background-image: url(../images/icon-checked.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 2px;
}

.modal-form__term-agreement:focus + .modal-form__check-desc::before {
  box-shadow: 0 0 0 2px greenyellow;
}

.modal-form__term-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form__btn {
  padding: 10px 55px;
  align-self: center;
  margin-top: 30px;
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--primary-bgc);
  border: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.hero {
  text-align: center;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--hero-bgc);
}

.hero__container {
  padding: 200px 252px;
}

.hero__container-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--extra-font-color);
}

.hero__btn {
  padding: 10px 32px;
}

.about-us {
  padding-bottom: 47px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
}

.about-list__item {
  flex-basis: calc(100% / 4 - 30px);
}

.about-list__item:not(:last-child) {
  margin-right: 30px;
}

.about-list__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.about-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-font-color);
}

.about-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

.our-occupation {
  padding-top: 47px;
}

.occupation-list {
  display: flex;
}

.occupation-list__item {
  position: relative;
}

.occupation-list__item:not(:last-child) {
  margin-right: 30px;
}

.occupation-list__img-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--extra-font-color);
}

.our-team {
  background-color: var(--extra-bgc);
}

.team-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.team-list__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  background-color: var(--primary-bgc);
}

.team-list__item-wrapper {
  padding: 30px 32px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
}

.team-list__item-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid #2196f3;
}

.clients-list__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.buttons-list__item:not(:last-child) {
  margin-right: 8px;
}

.buttons-list__modal-btn {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
  background-color: #f5f4fa;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-list__modal-btn:hover, .buttons-list__modal-btn:focus {
  color: var(--extra-font-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.portfolio-list__item-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__item-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-list__img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  /* overflow: scroll; */
  transform: translateY(100%);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--extra-font-color);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__item-link:hover .portfolio-list__img-overlay,
.portfolio-list__item-link:focus .portfolio-list__img-overlay {
  transform: translateY(0%);
}

.portfolio-list__item-meta {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
}

.portfolio-list__item-title {
  margin-bottom: 4px;
  font-style: normal;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-font-color);
}

.portfolio-list__item-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

.footer {
  background-color: var(--footer-bgc);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.left-part-wrapper {
  height: 132px;
  min-width: 231px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.left-part-wrapper__logo {
  display: block;
  margin-bottom: 20px;
}

.address-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.address-list__link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--extra-font-color);
}

.address-list__mail-link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__mail-link:hover, .address-list__mail-link:focus {
  color: var(--accent-color);
}

.address-list__tel-link {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__tel-link:hover, .address-list__tel-link:focus {
  color: var(--accent-color);
}

.middle-part-wrapper {
  height: 80px;
  min-width: 206px;
  margin-left: 70px;
}

.middle-part-wrapper__heading {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--extra-font-color);
}

.social-links-list__link_dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-links-list__icon_white {
  fill: var(--primary-bgc);
}

.right-part-wrapper {
  margin-left: 93px;
}

.right-part-wrapper__heading {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--extra-font-color);
}

.form {
  display: flex;
  align-items: center;
}

.form__input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form__input:not(:placeholder-shown), .form__input:focus {
  outline: none;
  border-color: var(--accent-color);
  color: var(--extra-font-color);
}

.form__subscribe-btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;
}

.form__subscribe-btn-icon {
  margin-left: 10px;
  fill: #ffffff;
}

.animate__pulse {
  animation-duration: 1000ms;
  animation-iteration-count: 2;
}
/*# sourceMappingURL=main.css.map */