.about-list__item:not(:last-child) {
  margin-bottom: 30px;
}
.about-list__icon-wrapper {
  @include centeredFlex;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}
.about-list__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-font-color);
}
.about-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}
@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .about-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  .about-list__icon-wrapper {
    width: 354px;
  }
  .about-list__item:not(:last-child) {
    margin-bottom: 0;
  }
  .about-list__title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .about-us {
    padding-bottom: 47px;
  }
  .about-list {
    margin-top: 0;
    margin-left: 0;
  }
  .about-list__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-top: 0;
    margin-left: 0;
  }
  .about-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .about-list__icon-wrapper {
    width: 270px;
  }
}
