.footer__logo {
  display: block;
  margin-bottom: 20px;
}
.contact-inform {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contact-inform {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .contact-inform__wrapper {
    margin-right: 70px;
  }
  .contact-inform {
    text-align: start;
  }
}
.address {
  margin-bottom: 60px;
}
.address-list__item:not(:last-child) {
  margin-bottom: 8px;
}
.address-list__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--extra-font-color);
}
.address-list__mail-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  @include primaryTransition();
}
.address-list__mail-link:hover,
.address-list__mail-link:focus {
  color: var(--accent-color);
}
.address-list__tel-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  @include primaryTransition();
}
.address-list__tel-link:hover,
.address-list__tel-link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .social-links-wrapper {
    margin-right: 93px;
  }
  .social-links-wrapper__heading {
    text-align: start;
  }
}
.social-links-wrapper__heading {
  display: block;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--extra-font-color);
}
.social-links-list {
  &__link_dark {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &__icon_white {
    fill: var(--primary-bgc);
  }
}
.social-links-wrapper__social-links-list {
  margin-bottom: 60px;
}
@media screen and (min-width: 767px) {
  .social-links-wrapper {
    min-width: 206px;
  }
}
