.header {
  background-color: var(--primary-bgc);
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.header__container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  max-width: 480px;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--primary-bgc);

  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  @include primaryTransition(all);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(-50%);
  z-index: 2;
}
.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  padding: 0;
  border: none;
}
.mobile-menu__close-btn:hover,
.mobile-menu__close-btn:focus {
  fill: var(--accent-color);
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: var(--primary-font-color);

  @media screen and (min-width: 480px) and (min-height: 470px) {
    font-size: 40px;
  }
}
.mobile-nav__link_current {
  color: var(--accent-color);
}
.mobile-nav__item:not(:last-child) {
  margin-bottom: 4vh;
}
.mobile-contacts {
  margin-top: 18vh;
  margin-bottom: 8vh;
}
.mobile-contacts__item:not(:last-child) {
  margin-bottom: 4vh;
}
.mobile-contacts__link {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-contacts__link_tel {
  font-size: 30px;
  color: var(--accent-color);

  @media screen and (min-width: 480px) and (min-height: 470px) {
    font-size: 34px;
  }
}
.mobile-contacts__link_mail {
  font-size: 18px;
  color: var(--secondary-font-color);

  @media screen and (min-width: 480px) and (min-height: 470px) {
    font-size: 24px;
  }
}
.mobile-social-list {
  display: flex;
}
.mobile-social-list__item:not(:last-child) {
  margin-right: 4vw;
}

.mobile-social-list__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  border-right: 1px solid rgba(33, 33, 33, 0.2);

  border-right: 1px solid rgba(33, 33, 33, 0.2);
  height: 100%;
  padding-right: 2vw;

  @media screen and (min-width: 480px) {
    font-size: 18px;
  }
}
.mobile-social-list__item:last-child .mobile-social-list__link {
  border-right: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .burger-btn {
    display: none;
  }
}
