.modal-button {
  min-width: 200px;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--extra-font-color);
  background-color: var(--accent-color);
  cursor: pointer;

  @include primaryTransition(background-color);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
