@mixin centeredFlex($type: flex) {
  display: $type;
  justify-content: center;
  align-items: center;
}

@mixin primaryTransition($property: color) {
  transition-property: $property;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
