:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-font-color: #212121;
  --secondary-font-color: #757575;
  --extra-font-color: #ffffff;
  --primary-bgc: #ffffff;
  --hero-bgc: #2f303a;
  --footer-bgc: #2f303a;
  --extra-bgc: #f5f4fa;
  --accent-color: #2196f3;
}
